#content{
    padding: 20px;
}

.equal-width-cols {
    width: 100%;
    table-layout: fixed;
}

.equal-width-cols td {
    width: 100%;
}

.table-backlog{

}

.table-data, .table-filter{

}

.task{
    width: 130px;
    height: 130px;
    margin: 2px;
    float:left;
    border: 1px #ababab solid;
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
    border-radius: 3px;
    padding: 5px;
    word-wrap: break-word;
    background-color: #f8f8f8;
}


.task .d-header{
    width: 100%;
    height: 10%;
}

.task .d-header .d-header-left{
    width: 50%;
    height: 100%;
    float: left;
    text-align:left;
    font-size: 12px;
}

.task .d-header .d-header-left span{
    display: block;
    height: 100%;
}

.task .d-header .d-header-right{
    width: 50%;
    height: 100%;
    float: left;
    text-align:right;
    font-size: 12px;
}

.task .d-data{
   width: 100%;
   height: 70%;
   padding-top: 20px;
   font-size: 11px;
}

.task .d-footer{
    padding-top: 7px;
    width: 100%;
    height: 13%;
}

.task .d-footer .d-footer-left{
    width: 55%;
    height: 110%;
    float: left;
    text-align:left;
    font-size: 9px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.task .d-footer .d-footer-right{
    width: 45%;
    height: 100%;
    float: left;
    text-align:right;
    margin-top: -1px;
    font-size: 10px;
}

