{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load tasks_tags %}


{% block 'developers' %}class="active"{% endblock %}


{% block content %}
<div class="row">
    <div class="col-lg-8">
        <i class="fa fa-circle" style="color: red"></i> - Customer tasks
        <br>
        <br>
        <table class="table table-data table-bordered equal-width-cols tablesorter">
            <thead>
                <tr>
                    <th class="mark">Developer</th>
                    <th class="mark">Features</th>
                    <th class="mark">Enhancements</th>
                    <th class="mark">Defects</th>
                    <th class="mark">Total ({{tasks|length}})</th>
                </tr>
            </thead>
            <tbody>
                {% for developer in developers %}
                <tr>
                    <td>
                        {{developer|lsplit:'@'}}
                    </td>
                    <td>
                        {{tasks|get_features:developer|length}}
                        <br>
                        {% for task in tasks|get_features:developer %}
                        <a href="{{task.get_tracker_url}}" data-toggle="tooltip" data-placement="bottom" title="{{task.summary}}" target="_blank" {% if task.is_customer %}style="color: red;"{% endif %}>
                            #{{task.task_id}}
                        </a>
                        {% endfor %}
                    </td>
                    <td>
                        {{tasks|get_enhancements:developer|length}}
                        <br>
                        {% for task in tasks|get_enhancements:developer %}
                        <a href="{{task.get_tracker_url}}" data-toggle="tooltip" data-placement="bottom" title="{{task.summary}}" target="_blank" {% if task.is_customer %}style="color: red;"{% endif %}>
                            #{{task.task_id}}
                        </a>
                        {% endfor %}
                    </td>
                    <td>
                        {{tasks|get_defects:developer|length}}
                        <br>
                        {% for task in tasks|get_defects:developer %}
                        <a href="{{task.get_tracker_url}}" data-toggle="tooltip" data-placement="bottom" title="{{task.summary}}" target="_blank" {% if task.is_customer %}style="color: red;"{% endif %}>
                            #{{task.task_id}}
                        </a>
                        {% endfor %}
                    </td>
                    <td>
                        {{tasks|get_all:developer|length}}
                        <br>
                        {% for task in tasks|get_all:developer %}
                        <a href="{{task.get_tracker_url}}" data-toggle="tooltip" data-placement="bottom" title="{{task.summary}}" target="_blank" {% if task.is_customer %}style="color: red;"{% endif %}>
                            #{{task.task_id}}
                        </a>
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-lg-4">
        <br>
        <br>
        <table class="table table-bordered table-backlog tablesorter">
            <thead>
                <tr>
                    <th class="mark">Backlog ({{backlog_tasks|length}})</th>
                    <th class="mark"></th>
                    <th class="mark"></th>
                    <th class="mark"></th>
                </tr>
            </thead>
            <tbody>
                {% for task in backlog_tasks %}
                <tr>
                    <td>
                        <a href="{{task.get_tracker_url}}" target="_blank" {% if task.is_customer %}style="color: red;"{% endif %}>#{{task.task_id}}</a>
                    </td>
                    <td>
                        {{task.summary}}
                    </td>
                    <td>
                        {{task.task_status}}
                    </td>
                    <td>
                        {{task.get_short_milestone}}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
