{% load i18n %}
{% load staticfiles %}
{% load tasks_tags %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="keyword" content="">

        {% block css_extra %}
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
        <link href="{% static 'css/select2.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/tasks.css' %}" rel="stylesheet">
        {% endblock %}
    </head>

    <body>
        <div id="content">

            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand" href="{{bugzilla_url}}"><i class="fa fa-bug"></i> {{bugzilla_url}}</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li {% block 'developers' %}{% endblock %}><a href="{% url 'backlog' %}"><i class="fa fa-tasks"></i> {% trans 'Backlog' %}</a></li>
                            <li {% block 'board' %}{% endblock %}><a href="{% url 'board' %}"><i class="fa fa-check-square"></i> {% trans 'Board' %}</a></li>
                            <li {% block 'report' %}{% endblock %}><a href="{% url 'report' %}"><i class="fa fa-users"></i> {% trans 'Report' %}</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            {% if not user.is_authenticated %}
                            <li><a href="{% url 'login' %}"><span class="fa fa-sign-in"></span> {% trans 'Login' %}</a></li>
                            {% else %}
                            <li><a href="{% url 'logout' %}"><span class="fa fa-sign-in"></span> {% trans 'Logout' %}</a></li>
                            {% endif %}
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>

            {% block filter %}
            <br>
            <div class="row">
                <div class="col-lg-12">
                    <form method="GET" action="">
                        <h4>
                            {% trans 'Filter' %}
                            {% if is_filter %}
                            <button type="submit" name="is_reset" class="btn btn-primary btn-sm">
                                <i class="fa fa-filter"></i> reset
                            </button>
                            {% endif %}
                            <button type="submit" name="is_submit" class="btn btn-danger btn-sm">
                                <i class="fa fa-refresh"></i> refresh
                            </button>
                        </h4>
                        <table class="table table-filter table-bordered equal-width-cols">
                            <thead>
                                <tr>
                                    {% for field in filter_form %}
                                    <th>{{field.label}}:</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    {% for field in filter_form %}
                                    <td>
                                        {{field}}
                                    </td>
                                    {% endfor %}
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
            {% endblock %}

            {% block content %}
            {% endblock %}
        </div>

        {% block js_extra %}
        <script src="{% static 'js/jquery-1.8.3.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/select2.min.js' %}"></script>
        <script src="{% static 'js/jquery.tablesorter.min.js' %}"></script>
        <script type="text/javascript">
            $('select').select2();
            $('[data-toggle="tooltip"]').tooltip();
            $('table.tablesorter').tablesorter();
        </script>
        {% endblock %}

    </body>
</html>
