{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load tasks_tags %}


{% block 'board' %}class="active"{% endblock %}


{% block content %}
<div class="row">
    <div class="col-lg-12">
        <table class="table table-data table-bordered equal-width-cols tablesorter">
            <thead>
                <tr>
                    {% for column in columns %}
                    <th class="mark">{{column}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for column in columns %}
                    <td>
                        {% for task in tasks|filter_by_column:column %}
                        <div class="task" style="border-color:{{task.get_color}};">
                            <div class="d-header">
                                <div class="d-header-left">
                                    <a href="{{task.get_tracker_url}}" target="_blank"><i class="fa fa-pencil-square-o"></i>{{task.task_id}}</a>
                                </div>
                                <div class="d-header-right">
                                <i class="fa fa-calendar"></i> {{task.get_short_milestone}}
                                </div>
                            </div>
                            <div class="d-data t-wrap" style="{% if task.is_closed %}text-decoration: line-through;{% endif %}">
                                {{task.get_short_summary}}
                            </div>
                            <div class="d-footer">
                                <div class="d-footer-left t-ext-wrap">
                                    {{task.get_short_assigned_to}}
                                </div>
                                <div class="d-footer-right">
                                    <i class="fa fa-clock-o"></i> {{task.estimated_time}} ({{task.actual_time}})
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
