{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load tasks_tags %}


{% block filter %}{% endblock %}


{% block content %}
<div class="row">
    <div class="col-lg-4">
        <b>Bugzilla credentials:</b>
        <br>
        <br>
        <form method="post">
            {% csrf_token %}
            <table class="table table-data table-bordered">
            {{form.as_table}}
            </table>
            <button type="submit" class="btn btn-primary pull-right submit"><span class="fa fa-sign-in"></span>  {% trans 'Войти' %}</button>
        </form>
    </div>
</div>
{% endblock %}