{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load tasks_tags %}


{% block 'report' %}class="active"{% endblock %}


{% block content %}
<div class="row">
    <div class="col-lg-12">
        <table class="table table-data table-bordered tablesorter">
            <thead>
                <tr>
                    <th class="mark">Year</th>
                    <th class="mark">Week</th>
                    <th class="mark">Assigned to</th>
                    <th class="mark">Area</th>
                    <th class="mark">Updated flag</th>
                    <th class="mark">Spent Hours</th>
                    <th class="mark">Progress Status</th>
                    <th class="mark">Feature</th>
                    <th class="mark">Bug ID</th>
                    <th class="mark">Ticket Type</th>
                    <th class="mark">Status</th>
                    <th class="mark">Title</th>
                    <th class="mark">Priority</th>
                    <th class="mark">Severity</th>
                    <th class="mark">Customer</th>
                </tr>
            </thead>
            <tbody>
                {% for task in report_tasks %}
                <tr>
                    <td>{{task.get_year}}</td>
                    <td>{{task.get_week}}</td>
                    <td>{{task.assigned_to|assigned_to}}</td>
                    <td>{{task.area}}</td>
                    <td>{{task.get_u}}</td>
                    <td>{{task.get_spent_hours}}</td>
                    <td>{{task.get_progress_status}}</td>
                    <td>{{task.get_feature}}</td>
                    <td>{{task.task_id}}</td>
                    <td>{{task.task_type}}</td>
                    <td>{{task.task_status}}</td>
                    <td>{{task.summary}}</td>
                    <td>{{task.priority}}</td>
                    <td>{{task.severity}}</td>
                    <td>{{task.customer}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
